.request__section {
    background-image: url(../../../assets/img/union_gorizontal.png), url(../../../assets/img/union_gorizontal_right.png);
    background-repeat: no-repeat;
    background-position: 0% 60%, 100% 60%;
}

.img__wrapper img {
    width: 24px;
    height: 24px;
}

.img__wrapper {
    /* display: flex; */
    justify-content: center;
    /* width: 310px;
    height: 310px; */
    margin: auto;

}

.contacts {
    color: #EBEBEC;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    text-decoration-line: underline;
}

.main {
    border-radius: 24px;
    border-top: 1px solid #383C9A;
    background: #242775;
    box-shadow: 0px 4px 20px -8px rgba(5, 8, 25, 0.40);
    padding: 16px;
    background-image: url("../../../assets/img/img-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.isVisibleOnTablet {
    display: none;
}

.glavniy {
    max-width: 390px;
    color: #EBEBEC;
    text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 12px;
}

.text__content {
    max-width: 290px;
}

.about {
    max-width: 240px;
    color: rgba(235, 235, 236, 1);
    color: #EBEBEC;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 8px;
}

.about_bottom {
    color: rgba(235, 235, 236, 1);
    margin-bottom: 24px;
    color: #EBEBEC;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

.name {
    color: #EBEBEC;
    text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
}

.item {
    border-radius: 30px;
    display: flex;
    /* padding: 12px;
    justify-content: center; */
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: var(--color-1-white);
}

.item>a>span {
    background-color: transparent;
    color: var(--color-1-white);
    font-size: 12px;
    line-height: 12px;
}

.item:hover {
    color: var(--color-1-white);
    background: var(--gradient-main-fill);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.company {
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.company>p {
    color: #8D93BD;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

@media screen and (min-width: 744px) {
    .glavniy {
        color: #EBEBEC;
        text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.24px;
    }

    .footer {
        /* display: flex; */
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .company {
        margin-top: 0px;
        align-items: flex-start;
        gap: 32px
    }

    .main {
        justify-content: center;
        margin: auto;
        background-image: url("../../../assets/img/img-bg-tablet.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1300px) {
    .form__block {
        padding-top: 24px;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding: 80px;
        background-image: url("../../../assets/img/img-bg-desctop.png");
        background-repeat: no-repeat;
        background-position: left;
    }

    .list {
        margin-bottom: 0px;
    }

    .text__content {
        max-width: 100%;
    }

    .img__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    .glavniy {
        color: #EBEBEC;
        text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.4px;
        max-width: 100%;
        margin-bottom: 16px;
    }

    .about {
        color: #EBEBEC;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 8px;
    }

    .about_bottom {
        color: #EBEBEC;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;

        margin-bottom: 0px;
    }

    .name {
        color: #EBEBEC;
        text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.24px;

        margin-top: 129px;
    }

    .contacts {
        color: #EBEBEC;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        text-decoration-line: underline;
    }
}