.geo {
    /* background-image: url(../../../assets/icons/map.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 395px 293px;
    padding-bottom: 64px; */
    position: relative;
}

.map {
    position: absolute;
    top: -263px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.list {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.geo_list_wrapper {
    
    display: grid;
    grid-gap: 24px;
}

.list>li>p {
    margin-top: 8px;
    text-align: center;
}

.list>li>img {
    width: 64px;
    height: 64px;
    border-radius: var(--border-radius-small);

    margin: auto;
}

.list>li>p {
    color: rgba(235, 235, 236, 0.80);

    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

@media screen and (min-width: 744px) {
    .geo {
        background-position: 50% 50%;
        background-size: 510px 335px;
        padding-bottom: 70px;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        /* margin-top: 32px; */
    }



    .geo_list_wrapper {
        justify-content: center;
        grid-template-columns: max-content max-content;
        /* margin-top: 32px; */
    }
}

@media screen and (min-width: 1300px) {
    .list>li>img {
        width: 120px;
        height: 120px;
    }


    .list {
        gap: 40px;
    }

    .list>li>p {
        color: rgba(235, 235, 236, 0.80);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .geo_list_wrapper {
        grid-gap: 40px;

    }
}