.geo {
    background-image: url(../../../assets/icons/geo/World.svg);
    background-repeat: no-repeat;
    background-position: 50% -136%;
    background-size: 390px 257px;

    padding-bottom: 40px;
}

.list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
}

.list>li>p {
    margin-top: 8px;
    text-align: center;
}

.list>li>img {
    width: 48px;
    height: 36px;
}

@media screen and (min-width: 744px) {
    .geo {
        background-position: 50% 150%;
        background-size: 546px 360px;
        padding-bottom: 100px;
    }

    .list {
        gap: 32px;
    }

    .list>li>img {
        width: 88px;
        height: 60px;
    }
}

@media screen and (min-width: 1300px) {
    .list {
        gap: 40px;
    }

    .list>li>img {
        width: 100px;
        height: 64px;
    }
}