.input {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-1-border-1);
    background: var(--color-1-background-1);
    font-family: inherit;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    min-height: 40px;
    padding: 14px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    width: 100%;

    color: var(--color-1-white);
}

.input::placeholder {
    color: var(--color-1-text-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (min-width: 744px) {
    .input {
        padding: 10px 16px;
    }
}

@media screen and (min-width: 744px) {
    .input {
        padding: 14px 16px;
    }
}