.promo {
    background-image: url(../../../assets/img/union_right.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 83px 369px;
    position: relative;
    z-index: 2;
}

.text {
    color: #8D93BD;

    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

.textItem {
    color: #EBEBEC;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 12px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}

.item {
    display: flex;
    /* min-width: 146px; */
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;

    border-radius: 24px;
    border-top: 1px solid #383C9A;
    background: #242775;
    box-shadow: 0px 4px 20px -8px rgba(5, 8, 25, 0.40);
}

.image_wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    transition: all 500ms ease-out;
    background: var(--gradient-main-fill);
}

.image {
    padding: 45px 0px;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
}

.main {
    margin-top: 24px;
}

@media screen and (min-width: 744px) {

    .text {
        color: #8D93BD;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }

    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 120px);
    }

    .item {
        /* min-width: 169px; */
        min-height: 119px;
        padding: 12px 16px;
        font-size: 12px;
        line-height: 16px;
    }

    .item img {
        width: 40px;
        height: 40px;
    }

    .image {
        padding: 60px 0px;
    }

    .image img {
        width: 424px;
        height: 224px;
    }

    .main {
        /* display: grid;
        grid-template-columns: 220px auto;
        gap: 20px */
    }
}

@media screen and (min-width: 1300px) {
    .image img {
        width: 680px;
        height: 325px;
    }

    .list {
        grid-template-rows: repeat(1, 170px);
        gap: 40px;
    }

    .image {
        padding: 40px 0px;
    }

    .text {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        color: #8D93BD;

        text-align: center;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .item {
        /* min-width: 290px; */
        min-height: 190px;
        padding: 32px;
        font-size: 12px;
        line-height: 16px;
    }

    .item img {
        width: 60px;
        height: 60px;
    }

    .textItem {
        margin-top: 16px;
        color: #EBEBEC;
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
    }

    .image_wrapper {
        width: 59px;
        height: 59px;
    }
}