.promo {
    padding-top: 0px;
}

.text {
    color: var(--color-1-white);
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-1-border-1);
    background: var(--color-1-background-3);

    padding: 12px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 10px;
    line-height: 12px;

    cursor: pointer;
    transition: all 250ms ease-in;

    color: var(--color-1-white);
}

.item:hover {
    transition: all 500ms ease-out;
    background: var(--gradient-main-fill);
}

.image {
    padding: 45px 0px;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
}

.main {
    margin-top: 40px;
}

@media screen and (min-width: 744px) {

    .text {
        font-size: 14px;
        line-height: 20px;
    }

    .list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 40px);
    }

    .item {
        padding: 12px 16px;
        font-size: 12px;
        line-height: 16px;
    }

    .item img {
        width: 16px;
        height: 16px;
    }

    .image {
        padding: 60px 0px;
    }

    .image img {
        width: 424px;
        height: 224px;
    }

    .main {
        display: grid;
        grid-template-columns: 220px auto;
        gap: 20px
    }

    .main__right {
        padding-left: 40px;
        display: flex;
      align-items: center;
    }

}

@media screen and (min-width: 1300px) {
    .image img {
        width: 680px;
        height: 325px;
    }

    .list {
        grid-template-rows: repeat(8, 50px);
    }

    .main {
        grid-template-columns: 380px auto;
        gap: 120px
    }

    .main__right {
        padding-left: 0px;
    }

    .image {
        padding: 40px 0px;
    }

    .text {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        padding: 18px 20px;
        font-size: 12px;
        line-height: 16px;
    }

    .item img {
        width: 20px;
        height: 20px;
    }
}