.title {
    color: var(--color-1-white);
    text-align: center;
    font-size: 20px !important;
    line-height: 24px !important;
}

.title::after {
    content: " ";
    display: block;

    width: 160px;
    height: 2px;

    margin: 20px auto 0px auto;
    margin-top: 20px;
    background: linear-gradient(90deg, #6B40EA 0%, #019DF0 100%);
}

@media screen and (min-width:744px) {
    .title {
        font-size: 24px !important;
        line-height: 32px !important;
    }
}

@media screen and (min-width:1300px) {
    .title {
        font-size: 32px !important;
        line-height: 40px !important;
    }
}