.img__wrapper {
    display: flex;
    justify-content: center;
    padding: 39px 0px;
}

.img__wrapper img {
    width: 138px;
    height: 280px;
}

.list {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 12px;
}

.list:first-of-type {
    margin-bottom: 12px;
}

.list__item {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-1-border-1);
    background: var(--color-1-background-3);
}

.list__item p {
    color: var(--color-1-white);
    font-size: 12px;
    line-height: 16px;
}

.advantages {
    background-position: 50% 87px;
    background-size: 390px;

    background-repeat: no-repeat;
    background-image: url(../../../assets/hero/lines-bg.webp);
}

@media screen and(max-width:744px) {
    .advantages {
        padding-top: 80px;
    }
}

@media screen and (min-width: 744px) {
    .advantage {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 220px 1fr;

        background-size: 510px;
    }

    .advantages {
        background-size: 580px;
    }

    .list {
        margin: auto;
    }

    .list:first-of-type {
        order: 1;
        margin: auto;
    }

    .img__wrapper {
        order: 2;
    }

    .list:last-of-type {
        order: 3;
    }

    .img__wrapper {
        padding: 0px;
        min-width: 220px;
        min-height: 445px;
    }

    .img__wrapper img {
        width: 220px;
        height: 445px;
    }

    .list__item {
        min-height: 80px;
    }
}

@media screen and (min-width: 1300px) {
    .advantage {
        grid-gap: 50px;
        grid-template-columns: 1fr 286px 1fr;
    }

    .advantages {
        background-size: 730px;
    }

    .list__item img {
        width: 20px !important;
        height: 20px !important;
    }

    .list__item p {
        font-size: 14px;
        line-height: 20px;
    }

    .img__wrapper {
        min-width: 286px;
        min-height: 580px;
    }

    .img__wrapper img {
        width: 286px;
        height: 580px;
    }
}