.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--border-radius-large);
    color: #EBEBEC;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    transition: all 500ms ease-out;
}

.btn:hover {
    transition: all 500ms ease-out;
}

.btn__base {
    border: 1px solid var(--gradient-main-border);
    background: var(--color-1-gradient-main-fill);
    display: flex;
    min-height: 56px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 40px;
    background: linear-gradient(84deg, #6B40EA -0.06%, #00A3FF 99.94%);
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.32) inset;
}

.btn__base:hover {
    background: var(--gradient-main-fill);
    box-shadow: 0px 4px 20px 0px rgba(7, 139, 221, 0.60);
}


@media screen and (min-width: 1300px) {
    .btn {
        color: #EBEBEC;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.18px;
    }
}