:root {
  --color-1-background-1: #171B35;
  --color-1-background-2: #1D2345;
  --color-1-background-3-border: #4E567D;
  --color-1-background-3: #2E3869;

  --color-1-gradient-main-border: #9B8DC6;
  --color-1-gradient-main-fill: linear-gradient(90deg, #6B40EA 0%, #019DF0 100%);

  --color-1-text-1: #9EA8DD;

  --color-1-border-1: #3D4987;

  --border-radius-small: 8px;
  --border-radius-large: 24px;

  --color-1-white: #FFF;


}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  background: var(--color-1-background-1);
  padding: 0;
  margin: 0;

  color: var(--color-1-text-1);
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

a {
  background: var(--color-1-background-1);
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.container {
  padding: 0px 16px;
  margin: 0 auto;
}

section,
footer {
  padding-top: 40px;
}

footer {
  padding-bottom: 40px;
}

@media screen and (min-width: 744px) {
  .container {
    padding: 0px 20px;
    max-width: 744px;
  }

  section,
  footer {
    padding-top: 80px;
  }

  footer {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    padding: 0px 50px;
    max-width: 1200px;
  }
}

.animated {
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.animated__delay {
  animation: pulsate 1.5s ease-out 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulsate {
  0% {
    transform: scale(0.9, 0.9);

  }

  100% {
    transform: scale(1.1, 1.1);
  }
}