.modal {
    display: flex;
    align-items: center;
    justify-content: center;

}

.glav {
    color: #EBEBEC;
    text-align: center;
    text-shadow: 0px 1px 8px rgba(5, 8, 25, 0.16);
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.28px;
}

.modal__wrapper {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 48px 32px;
    border-radius: var(--border-radius-large);
    border: 2px solid var(--color-1-background-3-border);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.20);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: #242775;
    ;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__wrapper form {
    margin-top: 24px;
}

.modal__content {
    max-width: 294px;
}

@media screen and (min-width:744px) {
    .modal__wrapper {
        min-width: 580px;
    }

    .modal__content {
        max-width: 420px;
    }
}