.input {
    display: grid;
    gap: 16px;

    margin-bottom: 24px;
}

.btn {
    width: 100%;
}

@media screen and (min-width:1300px) {
    .btn {
        width: auto;
        margin: auto;
    }

    .input {
        margin-bottom: 40px;
    }
}