.header__top {
    opacity: 1;
    position: fixed;
    width: 100%;
    background: #181F4E;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 72px;
}

.burger {
    cursor: pointer;
}

.btn {
    margin-top: 16px;
}

.action__block {
    display: flex;
    align-items: center;
    gap: 8px;

}

.logo {
    width: 103px;
    height: 40px;
    @media screen and (max-width: 744px) {
        width: 80px;
        height: 32px;
    }

}

.request {
    padding: 0px 10px;
    min-height: 40px;
    min-width: 110px;
}

.login {
    padding: 0px 10px;
    min-height: 40px;
    min-width: 110px;
    @media screen and (max-width: 744px) {
        min-width: 60px;
        font-size: 12px !important;

    }
}

.signUp {
    padding: 0px 10px;
    min-height: 40px;
    min-width: 110px;
    @media screen and (max-width: 744px) {
        min-width: 60px;
        font-size: 12px !important;
    }
}



@media screen and (min-width: 744px) {
    .btn {
        display: none;
    }

    .logo {
        width: 124px;
        height: 48px;
    }

    .header {
        min-height: 88px;
    }
}

.isHidden {
    display: none;
}

@media screen and (min-width: 1300px) {
    .isHidden {
        display: block;
    }
}