.lang {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-1-border-1);
    background: var(--color-1-background-3);

    color: var(--color-1-white) !important;
    font-size: 14px;

    min-width: 79px;
}

.lang>div {
    padding: 13px;
}

.lang img {
    right: 15px;
}

@media screen and (max-width: 744px) {
    .lang {
        display: none !important;
    }
}