.footer {
    background-image: url(../../assets/img/union_bottom.png);
    background-repeat: no-repeat;
    /* background-size: 83px 369px; */
    background-position: 70% 50%;
}

.name {
    color: var(--color-1-white);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.item {
    border-radius: 30px;
    border: 1px solid var(--color-1-border-1);
    background: var(--color-1-background-2);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: var(--color-1-white);
}

.item>a>span {
    background-color: transparent;
    color: var(--color-1-white);
    font-size: 12px;
    line-height: 12px;
}

.item:hover {
    color: var(--color-1-white);
    background: var(--gradient-main-fill);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.company {
    /* margin-top: 48px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: -32px;
}

.company>p {
    color: #8D93BD;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

@media screen and (min-width: 744px) {
    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .list {
        display: flex;
        flex-direction: row;
    }

    .company {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        align-items: center;
        gap: 32px
    }

    .name {
        text-align: right;
    }
}

@media screen and (min-width: 1300px) {
    .name {
        font-size: 24px;
        line-height: 32px;
    }
}