.nav__list {
    display: flex;
}

.nav__list>li>a {
    display: block;
    padding: 6px 14px;
    color: #EBEBEC;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    border-radius: 40px;
    background: rgba(60, 71, 139, 0.32);
    transition: all 500ms ease-out;
}

.nav__list>li>a:hover {
    transition: all 500ms ease-out;
    cursor: pointer;
    background: var(--color-1-background-3);
}

.active {
    background: var(--color-1-background-3) !important;
}


@media screen and (min-width: 1300px) {
    .nav__list {
        flex-direction: row;
    }

    .nav__list>li>a {
        background-color: transparent;
        white-space: nowrap;
    }
}